<?xml version="1.0"?>
<configuration>
      <configSections>
        <section name="flussoModuleConfiguration" type="ARS.GAF.Core.FlussoModulesConfiguration,ARS.GAF.Core"/>
      </configSections>
      <flussoModuleConfiguration>
        <modules>          
          <add key="B" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.B.dll" id="3"/>
          <add key="E" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.E.dll" id="4"/>
          <add key="G" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.G.dll" id="5"/>
          <add key="R" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.R.dll" id="6"/>
          <add key="H" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.H.dll" id="7"/>
          <add key="SommDirFar" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.F.dll" id="9"/>
          <add key="emur" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.EMUR.dll" id="10"/>
          <add key="siad" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.SIAD.dll" id="11"/>
          <add key="sdo" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.SDO.dll" id="12"/>
          <add key="D" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.D.dll" id="13"/>
          <add key="118" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.118.dll" id="15"/>
          <add key="spec" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.Specialistica.dll" id="16"/>
          <add key="FarmaConv" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.Farmaceutica.dll" id="17"/>
          <add key="Distinte" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.DistintaContabile.dll" id="18"/>
        </modules>
      </flussoModuleConfiguration>
      <appSettings>
        <add key="7ZipLocation" value="C:\Progetti\ARS.GAF\Deploy\7z.dll"/>
        <add key="FtpFolderPath" value="C:\Inetpub\ftproot"/>
        <add key="XsdFolderPath" value="C:\Formati"/>
        <add key="ResocontoPath" value="C:\Resoconto"/>
        <add key="FormatiPath" value="C:\Formati"/>
      </appSettings>
      <connectionStrings>
        <add name="CS" connectionString="data source=localhost;initial catalog=GAF;user id=sa;password=Sipol2012" />
        <add name="CS_LOCAL" connectionString="data source=localhost;initial catalog=GAF;user id=sa;password=sa" />
        <add name="CS_TEST" connectionString="data source=10.101.12.239;initial catalog=GAF;user id=sa;password=Sipol2012" />
      </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
