<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="flussoModuleConfiguration" type="ARS.GAF.Core.FlussoModulesConfiguration,ARS.GAF.Core"/>    
  </configSections>
  <flussoModuleConfiguration>
    <modules>
      <add key="emur" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.EMUR.dll" id="10"/>
      <add key="siad" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.SIAD.dll" id="11"/>
      <add key="sdo" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.SDO.dll" id="12"/>
      <add key="118" path="C:\Progetti\ARS.GAF\Deploy\ARS.GAF.118.dll" id="15"/>
    </modules>
  </flussoModuleConfiguration>
  <appSettings>
    <add key="7ZipLocation" value="C:/Progetti/ARS.GAF/Deploy/7z.dll"/>
    <add key="FtpFolderPath" value="C:\Inetpub\ftproot"/>
    <add key="XsdFolderPath" value="C:\XSD"/>
    <add key="ResocontoPath" value="C:\Resoconto"/>    
  </appSettings>
  <connectionStrings>
    <add name="CS" connectionString="data source=10.101.12.239;initial catalog=GAF;user id=sa;password=Sipol2012" />
    <add name="CS_LOCAL" connectionString="data source=localhost;initial catalog=GAF;user id=sa;password=sa" />
  </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
